
body {
  background-color: #f1f2f6;
  font-family: 'Comic Sans MS';
}

/* HEADER */
header {
  background-color: #ffa502;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: #000000;
  font-weight: bold;
  width: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;

}

.header_text {
  margin-left: 15px;
}

.icon {
  min-width: 100%;
  max-width: 100%;
  height: 50px;
  margin-left: 5px;
}

.login {
  float: right ;
  margin-right: -15px;
  margin: 0;
  list-style: none;
  margin-left: 75%;
}
/* FIN HEADER */







/* FIN HEADER */


/* FIN MENU */
/* CONTAINER GENERAL */
#container {
  color: #2f3640;
  margin-top: 50px;
  display: flex;
  float: left;
  width: 100%;
}

/* FIN CONTAINER GENERAL */
/* CONTAINER IZQ */
#container .cont1 {
  float: left;
  width: 70%;
}


/* FIN CONTAINER IZQ*/
/* CONTAINER DCHA */
#container #cont2 {
  float: left;
  width: 30%;
  height: 20px;
}

.h2evento{
  margin-top: 0px !important;
}







/* FIN CONTAINER ACTORS */
#footer {
  background-color: #5352ed;
  color: #000000;
  clear: both;
  position: fixed;
  font-weight: bold;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
