<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Calendario DW1E</title>
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
</head>
<body>
	<!-- Header-->
  <header class="head">
    <div>
      <a href="index.html">
        <img src="../assets/img/calendar2.png" alt="calendar" class="icon">
      </a>

    </div>
    <p class="header_text">Calendario DW1E</p>
  </header>
  <!-- Fin Header-->
	<section id="contenido">

	</section>
	<!-- Footer -->
  <footer id="footer">
    <p>©DW1E 2019</p>
  </footer>
  <!-- Fin Footer -->
</body>
</html>
