<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../assets/css/style.css" type="text/css" />
  <title>Calendario DW1E</title>
</head>

<body>
  <!-- Container general -->
  <!-- Header-->
  <header class="head">
    <div>
      <a href="index.html">
        <img src="../assets/img/calendar2.png" alt="calendar" class="icon">
      </a>

    </div>
    <p class="header_text">Calendario DW1E</p>

    <ul class="login">
      <li><a href="">Login</a></li>
    </ul>
  </header>

  <!-- Fin Header-->
  <main>
    <!-- Contenedor -->
    <div id="container">
      <!-- Contenedor Izq -->
      <div class="cont1">
        <p>Calendario</p>
      </div>

      <!-- Fin Contenedor Izq -->
      <!-- Contenedor Dcha -->
      <div id="cont2">
        <h2 class="h2evento">Eventos</h2>
        <ul>
          <li>Prueba 1</li>
          <li>Prueba 2</li>
          <li>Prueba 3</li>
        </ul>


      </div>
      <!-- Fin Contenedor Dcha -->
    </div>
    <!-- Fin Contenedor -->
  </main>

  <!-- Footer -->
  <footer id="footer">
    <p>©DW1E 2019</p>
  </footer>
  <!-- Fin Footer -->
</body>

</html>
